<footer class="footer">

    <div class="wrapper">
        <div class="footer__copyright">
            &copy; {{ site.time | date: '%Y' }} - {{site.name}}
        </div>
        <div class="footer__links">
            <ul>
                <li>
                    <a href="//twitter.com/hafizbilal112" target="_blank">
                        <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="{{site.name}} on Twitter">
                    </a>
                </li>
                <li>
                    <a href="//github.com/hafizbilal112" target="_blank">
                        <img src="{{ site.baseurl }}/img/icons/github.svg" alt="{{site.name}} on GitHub">
                    </a>
                </li>
                <li>
                    <a href="//facebook.com/hafizbilal112" target="_blank">
                        <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="{{site.name}} on Facebook">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>
